.carrousel_animal1 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_1604.jpg);
}

.carrousel_animal2 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_1989.jpg);
}

.carrousel_animal3 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_1996.jpg);
}

.carrousel_animal4 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2086.jpg);
}

.carrousel_animal5 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2092.jpg);
}

.carrousel_animal6 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2095.jpg);
}

.carrousel_animal7 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2100.jpg);
}

.carrousel_animal8 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2101.jpg);
}

.carrousel_animal9 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2110.jpg);
}

.carrousel_animal10 {
    background-image: url(../../../../public/img/photography/grandes/animals/IMG_2199.jpg);
}