.carrousel_city1 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2368.jpg);
}

.carrousel_city2 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2571.jpg);
}

.carrousel_city3 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2576.jpg);
}

.carrousel_city4 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2592.jpg);
}

.carrousel_city5 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2867.jpg);
}

.carrousel_city6 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2970.jpg);
}

.carrousel_city7 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_2991.jpg);
}

.carrousel_city8 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_3568.jpg);
}

.carrousel_city9 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_3575.jpg);
}

.carrousel_city10 {
    background-image: url(../../../../public/img/photography/grandes/city/IMG_4601.jpg);
}