.carrousel_landscape1 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_0528.jpg);
}

.carrousel_landscape2 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_0822.jpg);
}

.carrousel_landscape3 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_0860.jpg);
}

.carrousel_landscape4 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_0876.jpg);
}

.carrousel_landscape5 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_1296.jpg);
}

.carrousel_landscape6 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_1371.jpg);
}

.carrousel_landscape7 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_1435.jpg);
}

.carrousel_landscape8 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_3595.jpg);
}

.carrousel_landscape9 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_4543.jpg);
}

.carrousel_landscape10 {
    background-image: url(../../../../public/img/photography/grandes/landscapes/IMG_5571.jpg);
}