.carrousel_sunset1 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_1140.jpg);
}

.carrousel_sunset2 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_6861.jpg);
}

.carrousel_sunset3 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_1172.jpg);
}

.carrousel_sunset4 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_1850.jpg);
}

.carrousel_sunset5 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_1955.jpg);
}

.carrousel_sunset6 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_4359.jpg);
}

.carrousel_sunset7 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_5811.jpg);
}

.carrousel_sunset8 {
    background-image: url(../../../../public/img/photography/grandes/sunset/IMG_5839.jpg);
}

.carrousel_sunset9 {
    background-image: url(../../../../public/img/photography/grandes/sunset/20230929_170741.jpg);
}

.carrousel_sunset10 {
    background-image: url(../../../../public/img/photography/grandes/sunset/20230929_174829.jpg);
}