@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #121113;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #FFF8F0;
    font-size: 24px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFF8F0;
    font-size: 22px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF8F0;
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #FFF8F0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

#header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.intro {
    position: absolute;
    background-color: rgba(18, 17, 19, 0.5);
    z-index: 3;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.high {
    padding-top: 1rem;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.high_logo {
    grid-column: 1/2;
}

.high_mode {
    grid-column: 4/5;
    display: flex;
    justify-content: end;
    align-items: start;
}

.high_logo--img, .high_mode--img {
    width: 50%;
}

.high_menu {
    display: none;
}

.intro_text {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bottom {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.bottom_link {
    grid-column: 1/2;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFF8F0;
    font-size: 12px;
    padding-bottom: 1rem;
}

.bottom_link--img {
    height: 34px;
    width: 34px;
}

#bottom_arrow {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#bottom_arrow img {
    height: 40px;
    width: 40px;
}

.headerlandscapes {
    background-image: url(../../../public/img/photography/main/IMG_1435.JPG);
}

.principal__animals {
    background-image: url(../../../public/img/photography/main/IMG_2110.JPG);
}

.principal__flowers {
    background-image: url(../../../public/img/photography/main/IMG_2155.JPG);
}

.principal__city {
    background-image: url(../../../public/img/photography/main/IMG_2576.JPG);
}

.principal__sunset {
    background-image: url(../../../public/img/photography/main/IMG_1850.JPG);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    width: 100%;
}

.main_img {
    width: 335px;
    height: auto;
    margin: auto;
    padding: 0;
    margin: 0;
}

.how {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
}

.how h2 {
    grid-column: 1/5;
}

.how p {
    grid-column: 1/5;
}

@media screen and (max-width: 500px) {
    .intro p {
        width: 100%;
    }
}