@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: White;
    font-size: 32px;
}

h2 {
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 2rem;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: white;
}

.principal {
    background-image: url(../../../public/img/photography/main/IMG_20220803_065642.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.principal_intro {
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    height: 100vh;
}

.principal p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 70%;
    margin-top: 3rem;
    line-height: 1.5rem;
}

.section1, .section2 {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.article {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.article__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 1.5rem;
    grid-column: 2/12;
    order: 1;
}

.article__img {
    grid-column: 4/10;
}

.article__img img {
    width: 100%;
}

.galerie_title {
    margin-left: 1rem;
    margin-right: 1rem;
}

.link__pages {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link__pages--title {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.landscapes, .animals, .flowers, .city, .sunset {
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}

.landscapes {
    background-image: url(../../../public/img/photography/main/IMG_1435.JPG);
}

.animals {
    background-image: url(../../../public/img/photography/main/IMG_2110.JPG);
}

.flowers {
    background-image: url(../../../public/img/photography/main/IMG_2155.JPG);
}

.city {
    background-image: url(../../../public/img/photography/main/IMG_2576.JPG);
}

.sunset {
    background-image: url(../../../public/img/photography/main/IMG_1850.JPG);
}

.landscapes:hover, .animals:hover, .flowers:hover, .city:hover, .sunset:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    border: solid 2px white;
    transition: all 0.5s ease-in-out;
}

.landscapes:hover .link__pages--title {
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

.animals:hover .link__pages--title {
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

.flowers:hover .link__pages--title {
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

.city:hover .link__pages--title {
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

.sunset:hover .link__pages--title {
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.galerie_section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.galerie h2 {
    width: 400px;
}

.galerie div {
    width: 400px;
}

.post {
    width: 100%;
    margin: auto;
    padding: 0;
}

.post h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

@media screen and (min-width: 768px)  {
    .article__text {
        grid-column: 2/7;
        order: 0;
    }
    .article__img {
        grid-column: 9/11;
    }
    .post {
        width: 30%;
        margin: auto;
    }
    .post h3 {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .principal p {
        width: 100%;
    }
}

.down {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.down_img {
    width: 3rem;
}