@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #121113;
    overflow: hidden;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #FFF8F0;
    font-size: 24px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFF8F0;
    font-size: 24px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF8F0;
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #FFF8F0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFF8F0;
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}

.header {
    height: 100vh;
}

.high {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    position: absolute;
    z-index: 1;
}

.high_logo {
    grid-column: 1/2;
}

.high_logo--img, .high_mode--img {
    width: 50%;
}

.high_mode {
    grid-column: 4/5;
    display: flex;
    justify-content: end;
}

.carouselphoto {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.carouselphoto_items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    grid-column: 1/5;
}

.carouselphoto_items--slide {
    height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.carouselphoto_prevbutton, .carouselphoto_nextbutton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.carouselphoto_prevbutton {
    left: 10px;
}

.carouselphoto_nextbutton {
    right: 10px;
}

.carouselphoto_dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.photodot {
    width: 10px;
    height: 10px;
    background-color: #FFF8F0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.photodot.active {
    background-color: #92140C;
}

#photo_item1 {
    background-image: url(../../../../../public/img/photography/main/IMG_20220803_065642.jpg);
}

#photo_item2 {
    background-image: url(../../../../../public/img/photography/main/IMG_20220803_065642.jpg);
}

#photo_item3 {
    background-image: url(../../../../../public/img/photography/main/IMG_2110.JPG);
}

#photo_item4 {
    background-image: url(../../../../../public/img/photography/main/IMG_2155.JPG);
}

#photo_item5 {
    background-image: url(../../../../../public/img/photography/main/IMG_2576.JPG);
}

#photo_item6 {
    background-image: url(../../../../../public/img/photography/main/IMG_1850.JPG);
}

.about {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about h2 {
    grid-column: 1/5;
}

.about_img1 {
    grid-column: 1/5;
    width: 100%;
}

.about p {
    grid-column: 1/5;
}


.slide_filtre {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.slide_intro {
    position: absolute;
    z-index: 2;
    top: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #FFF8F0;
}

/* .slide_intro h2 {
    width: 200px;
    margin-bottom: 2rem;
}

.slide_text {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.camera {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}

.camera img {
    width: 100%;
}

.slide_link {
    position: absolute;
    top: 47.5%;
    z-index: 5;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF8F0;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
} */

.langue {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -3.5rem;
    position: absolute;
    z-index: 1;
}

.langue_link {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF8F0;
    font-size: 16px;
}

.langue_link--img {
    width: 50%;
}