@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #121113;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #FFF8F0;
    font-size: 24px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFF8F0;
    font-size: 24px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF8F0;
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #FFF8F0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFF8F0;
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}

.header {
    height: 100vh;
}

.intro {
    position: absolute;
    background-color: rgba(18, 17, 19, 0.5);
    z-index: 3;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.high {
    padding-top: 1rem;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.high_logo {
    grid-column: 1/2;
}

.high_mode {
    grid-column: 4/5;
    display: flex;
    justify-content: end;
    align-items: start;
}

.high_logo--img, .high_mode--img {
    width: 50%;
}

.high_menu {
    display: none;
}

.intro_text {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.langue {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.langue_link {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFF8F0;
    font-size: 12px;
}

.langue_link--img {
    width: 34px;
}

.carouselphoto {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.carouselphoto_items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-height: 100vh;
}

.carouselphoto_items--slide {
    min-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.carouselphoto_dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.photodot {
    width: 10px;
    height: 10px;
    background-color: #FFF8F0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.photodot.active {
    background-color: #92140C;
}

#photo_item1 {
    background-image: url(../../../../../public/img/photography/main/IMG_20220803_065642.jpg);
}

#photo_item2 {
    background-image: url(../../../../../public/img/photography/main/IMG_20220803_065642.jpg);
}

#photo_item3 {
    background-image: url(../../../../../public/img/photography/main/IMG_2110.JPG);
}

#photo_item4 {
    background-image: url(../../../../../public/img/photography/main/IMG_2155.JPG);
}

#photo_item5 {
    background-image: url(../../../../../public/img/photography/main/IMG_2576.JPG);
}

#photo_item6 {
    background-image: url(../../../../../public/img/photography/main/IMG_1850.JPG);
}

.about {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.about h2 {
    grid-column: 1/5;
    display: flex;
    align-items: end;
}

.about_img {
    grid-column: 1/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about p {
    grid-column: 1/5;
}

.photography, .video {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
}

.photography h2, .video h2 {
    grid-column: 1/5;
}

.photography_landscapes, .photography_flowers, .photography_sunset, .video_event, .video_mood {
    position: relative;
    grid-column: 1/4;
    height: 246px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(18, 17, 19, 0.25) inset;
}

.photography_animals, .photography_city, .video_stopmotion, .video_adventure {
    position: relative;
    grid-column: 2/5;
    height: 246px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(18, 17, 19, 0.25) inset;
}

.photography_landscapes {
    background-image: url(../../../../../public/img/home/landscapes.jpg);
}

.photography_animals {
    background-image: url(../../../../../public/img/home/animals.jpg);
    margin-top: -70px;
}

.photography_flowers {
    background-image: url(../../../../../public/img/home/flowers.jpg);
    margin-top: -70px;
}

.photography_city {
    background-image: url(../../../../../public/img/home/city.jpg);
    margin-top: -70px;
}

.photography_sunset {
    background-image: url(../../../../../public/img/home/sunset.jpg);
    margin-top: -70px;
}

.video_event {
    background-image: url(../../../../../public/img/home/event_video.jpg);
}

.video_stopmotion {
    background-image: url(../../../../../public/img/home/stopmotion_main.jpg);
    margin-top: -70px;
}

.video_mood {
    background-image: url(../../../../../public/img/home/mood_main.jpg);
    margin-top: -70px;
}

.video_adventure {
    background-image: url(../../../../../public/img/home/adventure_movie.jpg);
    margin-top: -70px;
}

.photography_filtre, .video_filtre {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(18, 17, 19, 0.35);
}

.photography_link, .video_link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF8F0;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.button {
    grid-column: 1/5;
    height: 61px;
    background-color: #FFF8F0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #121113;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.button_svg {
    padding-left: 1rem;
}

.button_svg path {
    stroke: #121113;
}

.photography_how {
    display: none;
    grid-column: 1/5;
    background-color: #FFF8F0;
    margin-top: -1rem;
    height: 419px;
}

.video_how {
    display: none;
    grid-column: 1/5;
    background-color: #FFF8F0;
    margin-top: -1rem;
    height: 419px;
}

.photography_how p {
    color: #121113;
    padding: 1rem;
}

.video_how p {
    color: #121113;
    padding: 1rem;
}

.visible {
    display: block;
}

#photobutton.clicked, #videobutton.clicked {
    transition: all 0.2s ease-in-out;
    background-color: #121113;
    color: #FFF8F0;
    border: solid 1px #FFF8F0;

    .button_svg {
        transition: all 0.2s ease-in-out;
        transform: rotate(90deg);
    }

    .button_svg path {
        stroke: #FFF8F0;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    p {
        font-size: 15px;
        line-height: 25px;
    }
    
    .intro {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem;
        left: 0;
        right: 0;
    }
    
    .high {
        padding-top: 1rem;
        grid-column: 1/13;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .high_logo--img {
        width: 40px;
    }

    .high_mode {
        display: none;
    }

    .high_menu {
        grid-column: 6/13;
        display: flex;
        gap: 2rem;
        justify-content: end;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .high_menu--items a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: #FFF8F0;
    }

    .high_menu--items a:hover {
        font-weight: 900;
        color: #92140C;
        transition: all 0.2s ease-in-out;
    }

    .high_menu--img {
        width: 40px;
    }
    
    .intro_text {
        grid-column: 1/13;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .langue {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem;
    }
    
    .langue_link {
        grid-column: 1/5;
        font-size: 14px;
    }
    
    .langue_link--img {
        width: 40px;
    }

    .about {
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 6rem;
    }
    
    .about h2 {
        grid-column: 3/11;
    }
    
    .about_img {
        grid-column: 3/8;
    }
    
    .about p {
        grid-column: 6/11;
        margin-top: -100px;
        background-color: rgba(0, 0, 0, 0.35);
        display: flex;
        align-items: center;
        text-align: center;
        height: 480px;
    }

    .photography, .video {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 6rem;
    }
    
    .photography h2, .video h2 {
        grid-column: 3/11;
    }
    
    .photography_landscapes, .photography_flowers, .photography_sunset, .video_event, .video_mood {
        grid-column: 3/8;
        height: 480px;
        filter: grayscale(100%);
    }
    
    .photography_animals, .photography_city, .video_stopmotion, .video_adventure {
        grid-column: 6/11;
        height: 480px;
        filter: grayscale(100%);
    }

    .photography_animals, .photography_animals, .photography_flowers, .photography_city, .photography_sunset, .video_stopmotion, .video_mood, .video_adventure {
        margin-top: -100px;
    }

    .photography_filtre, .video_filtre {
        background-color: transparent;
    }

    .photography_landscapes:hover, .photography_animals:hover, .photography_flowers:hover, .photography_city:hover, .photography_sunset:hover, .video_event:hover, .video_stopmotion:hover, .video_mood:hover, .video_adventure:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;

        .photography_filtre, .video_filtre {
            background-color: rgba(18, 17, 19, 0.35);
        }
    }

    .photography_button {
        grid-column: 6/11;
    }

    .photography_how {
        grid-column: 6/11;
    }

    .video_button {
        grid-column: 3/8;
    }

    .video_how {
        grid-column: 3/8;
    }

    #photobutton:hover, #videobutton:hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        background-color: #121113;
        color: #FFF8F0;
        border: solid 1px #FFF8F0;
    
        .button_svg {
            transition: all 0.2s ease-in-out;
            transform: rotate(90deg);
        }
    
        .button_svg path {
            stroke: #FFF8F0;
        }
    }
    
    #photobutton:hover + .photography_how, #videobutton:hover + .video_how {
        display: block;
    }
}